<div class="sidebar" data-color="blue" data-image="img/sidebar-5.jpg">
    <!-- <div class="sidebar" data-color="#a00e6b"> -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Kataragama Pradeshiya Sabha
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li>
                <a href="table">
                    <i class="pe-7s-note2"></i>
                    <p>Table List</p>
                </a>
            </li>

        </ul>
    </div>
</div>